fastapi
uvicorn
httpx
requests
pytest
sqlalchemy
bcrypt
passlib
python-multipart
python-dotenv
psycopg2-binary
jinja2
pydantic[dotenv]
python-jose[cryptography]
jwt
PyJWT
jose
pycryptodome
docker-compose
